.card {
  background-color: lighten($darkgrey, 5%);
  padding: 2.4rem;
  border-radius: 1rem;
  width: 23rem;
}
@media (max-width: 720px) {
  .card {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
  }
}
